.tile {
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    margin: 5px;
    border-radius: 2px;
    background-color:lightgoldenrodyellow;
}

.selectable {
    background-color: aquamarine;
}

.visited {
    background-color:aqua;
}

.visited.selectable {
    background-color:violet;
}